---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<h2
  class="mb-12 text-2xl font-bold tracking-tight text-neutral-900 dark:text-neutral-100"
>
  <span class="text-accent">/</span> {title}
</h2>
